My_workflow_3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Received').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        220,
        240
      ],
      "id": "be1e8b39-d4-3ac98e157c19",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "id",
        "recipientPhoneNumber": "your_phonr_number",
        "textBody": "={{ $json.output }}",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        580,
        0
      ],
      "id": "7b2fc330-21a5-49a6-9cd7-dff5f03ebae3",
      "name": "WhatsApp Business Cloud",
      "webhookId": "fe010t97gu160-0b94-446ha-8628-14fiyv8261adb3e",
      "credentials": {
        "whatsAppApi": {
          "id": "JDol5d3hvhKw9F3CB74",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1709ebuecke6-37e6-4727-be86-1aa19c8g8ab920",
      "name": "Chat Received",
      "webhookId": "f2dcce721b-b5de-4016-9920-f477d8i24f04171",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "VpGlSYV8ui8bbAb67KG",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        60,
        240
      ],
      "id": "0e016vh7b8-d65d-4228-b1ae-9c89khv384fc554",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "b2sHBJ25dtycm01E8GPzj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "iyv-afa6-445e-936b-1776e96ec298",
      "name": "AI Agent1"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "23489a3d-duyf560-4d73-a85a-4eba97afce0b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e41369c0309ad6uya76e6ba6208577c24196dd97eac7e229af0e5fb59aa50aeccef"
  },
  "id": "cJSMVfXjvUyqwhJx9",
  "tags": []
}
